.container {
    position: absolute;
    top: 0;
    z-index: 100;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(51, 51, 51);
}

.h2 {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    padding: 20px;
}

.h3 {
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
    padding: 2px;
}

.input {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 500px;
    margin: auto;
    font-size: 1rem;
}

.add {
    font-size: 1rem;
    padding: 8px;
    width: 500px
}

.btn {
    margin-left: 20px;
    font-size: 1rem;
    width: 200px;
}

.catBtnRed, .catBtnGreen, .catBtnWhite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30px;
    width: 70px;
    padding: 2px;
    margin: 2px 5px;
    border-radius: 8px;;
    border: 0px;
    color: white;
    font-size: 0.7rem;
}

.catBtnGreen {
    background-color: green;
}

.catBtnRed {
    background-color: red;
}

.catBtnWhite {
    color: black;
    background-color: white;
}

.closeButton {
    width: 40px;
    height: 40px; 
    font-size: 2em;
    position: absolute;
    right: 20px;
    top : 20px;
    transition : .4s ease-in-out
}

.closeButton:hover {
    cursor: pointer;
    color : white;
    background-color: red;
}

.ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.card {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 120px;
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modifyCard {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 120px;
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modifyInput {
    padding: 8px;
    margin: 10px 0;
}

.modifyBtnGreen, .modifyBtnRed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30px;
    width: 70px;
    padding: 2px;
    margin:  5px;
    border-radius: 8px;;
    border: 0px;
    color: white;
    font-size: 0.7rem;
}

.modifyBtnGreen {
    background-color: green;
}

.modifyBtnRed {
    background-color: red;
}