.modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(51, 51, 51);
}

.title {
    width: 100%;
    text-align: center;
    padding: 18px;
}

.newProduct {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 18px;
}

.button {
    padding: 8px;
    width: 100px;
    color: white;
    border-radius: 8px;
    margin-left: 8px;
    border: 1px solid white;
    background-color: green;
}

.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid white;
}

.item {
    padding: 12px;
    margin: 10px;
    width: 300px;
    color: rgb(51, 51, 51);
    border-radius: 8px;;
    background-color: rgb(255, 255, 255);
}

.productHeader {
    width: 100%;
    font-weight: bold;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}

.actions {
    display: flex;
    justify-content: center;
}

.btnDiv {
    display: flex;
    justify-content: center;
}

.tva {
    margin-left: 2px;
    color: red
}

.price {
    margin-left: 8px;
    color: green;
}

.smallBtnGreen, .smallBtnRed {
    width: 100px;
    padding: 8px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
}

.smallBtnGreen {
    background-color: green;
}

.smallBtnRed {
    background-color: red;
}

.h3 ,.h4 {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
}

.h4 {
    font-size: 1.5rem;
}

.form {
    margin: 0 auto;
}

.divAdd {
    margin: 40px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.input {
    padding: 8px;
}

.input2 {
    width: 100%;
    padding: 8px;
    margin: 2px 0
}

.add {
    padding: 8px;
    width: 100px;
    margin-left: 5px;
}

.closeBtn {
    width: 30px;
    height: 30px; 
    position: absolute;
    top: 0;
    right: 0;
}

.ul {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.li {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 0.5rem;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.table {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.h5 {
    text-align: center;
    font-size: 1.1rem;
}