.h2 {
    padding: 20px;
    text-align: center;
    text-decoration: underline;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.ul {
    list-style: none;
}

.btn {
    width: 130px;
    padding: 8px;
    margin-left: 5px;
}

.delete {
    color: white;
    border: none;
    padding: 8px;
    margin: auto;
    width: 250px;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    background-color: red; 
}