.aside {
    height: 85vh;
    width: 30%;
    padding: 8px;
    border-right: 1px solid black;
    background-color: rgb(29, 85, 85);
}

.session {
    text-align: center;
    width: 90%;
    height: 40px;
    padding: 8px 5px;
    font-size: 1em;
    font-weight: bold;
    margin: 10px 5%;
    color: white;
    background-color: green;
    transition: .4s ease-in-out;
    border: 2px solid black;
}

.mainBtn, .startBtn, .stopBtn {
    width: 90%;
    height: 40px;
    padding: 5px;
    font-size: 1em;
    font-weight: bold;
    margin: 10px 5%;
    transition: .4s ease-in-out;
    border: 2px solid black;
}

.startBtn {
    color: white;
    background-color: green;
}

.stopBtn {
    color: white;
    background-color: red;
}

.inputTable {
    width: 90%;
    height: 40px;
    padding: 5px;
    font-size: 1em;
    font-weight: bold;
    margin: 10px 5%;
    transition: .4s ease-in-out;
    border: 2px solid black;
}

@media (max-width: 600px) {  
    .aside {
        height: 85dvh;
    }

    .table {
        height: 85dvh;
    }

    .mainBtn, .startBtn, .stopBtn {
        width: 96%; 
        margin: 10px 2%;
    }

    .tableModal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100dvh;
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        align-items: center;
        z-index: 1000;
    }
  }