.page {
  display: flex;
  flex-direction: column;
  height: 100dvh; 
  overflow: hidden;
}


.main {
  flex: 0 0 30%; /* 30% de la hauteur totale */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 85, 85);
}

.content {
  flex: 1; /* prend tout l’espace restant */
  overflow: hidden; /* évite tout scroll inutile */
  background-color: aliceblue;
}

.footer {
  flex: 0 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 85, 85);
  color: white;
  font-weight: bold;
}

.span {
  font-style: italic;
  color: red;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  height: 10vh;
  color: white;
  font-weight: bold;
  background-color: rgb(29, 85, 85);
}

.link {
  width: 100%;
  text-align: center;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
 

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    height: 100dvh;
  }
}

