.container {
    height: 100vh
}

.time {
    padding: 8px;
    height: 5vh;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.main {
    display: flex;
    height: 85vh;
    background-color: rgb(29, 85, 85);
}

.aside {
    height: 85vh;
    width: 30%;
    padding: 8px;
    border-right: 1px solid black;
    background-color: rgb(29, 85, 85);
}

.mainBtn, .startBtn, .stopBtn {
    width: 90%;
    height: 40px;
    padding: 5px;
    font-size: 0.7em;
    font-weight: bold;
    margin: 10px 5%;
    transition: .4s ease-in-out;
    border: 2px solid black;
}

.startBtn {
    color: white;
    background-color: green
}

.stopBtn {
    color: white;
    background-color: rgb(253, 55, 55)
}

.mainBtn:hover, .startBtn:hover, .stopBtn:hover {
    cursor: pointer;
}

.table {
    height: 100%;
    width: 100%;
    padding: 16px;
    background-color: rgb(158, 158, 158)
}

.panneau {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 8px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255)
}

.tableItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    transition: .4s ease-in-out;
}

.tableItem:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(29, 85, 85);
}

.inputTable {
    border: 2px solid black;
    padding: 5px;
    width: 90%;
    height: 40px;
    font-size: 0.8em;
    margin: 10px 5%;
    text-align: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 175px;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    z-index: 1000;
}
  
.modalContent {
    background-color: white;
    height: calc(100vh - 175px);
    width: 100%;
    position: relative;
    background-color: rgb(29, 85, 85);
}
  
.closeBtn:hover {
    color: red;
}
  
.menuTitle {
    width: 100%;
    padding: 20px;
    color: white;
    text-align: center;
    text-decoration: underline;
}

.menuContent {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    justify-content: center;
    height: 100%;
    background-color: grey;
}

.h3 {
    margin: 20px;
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    background-color: white;
}

.tableModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    z-index: 1000;
}

.tableNumber {
    font-size: 1.5em;
    text-decoration: underline;
    margin-bottom: 10px;
}
  
.tableModalContent {
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 20px;
    position: relative;
    background-color: rgb(29, 85, 85);
}

.commandeBox {
    height: 95%;
    width: 100%;
    display: flex;
    background-color: rgb(209, 209, 209);
}

.commande {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid black;
}

.menuAside {
    width: calc(100vh - 300px);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btnTableModal {
    margin-left: 75px;
    width: 150px;
    padding: 16px;
    margin:  auto;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    transition:  .4s ease-in-out;
    background-color: rgb(29, 85, 85);
}

.btnTableModal:hover {
    cursor: pointer;
    background-color: rgb(23, 66, 66);
}

.btnTableModalPay {
    margin-left: 75px;
    width: 150px;
    padding: 16px;
    margin:  auto;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    transition:  .4s ease-in-out;
    background-color: red;
}

.btnTableModalPay:hover {
    cursor: pointer;
    background-color: rgb(141, 0, 0);
}

.btnTableModalValid {
    margin-left: 75px;
    width: 150px;
    padding: 16px;
    margin:  auto;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    transition:  .4s ease-in-out;
    background-color: green;
}

.btnTableModalValid:hover {
    cursor: pointer;
    background-color: rgb(0, 71, 0);
}

.categoryModal {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 300px;
    height: 100%;
    padding: 8px;
    background-color: rgb(177, 177, 177);
    display: flex;
    z-index: 10000;
}

.categoryTitle {
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
    justify-content: center;
}

.categoryItems {
    display: flex;
   
}

.item {
    padding: 8px;
    margin: 10px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255)
}

.itemName {
    width: 50%;
    font-weight: bold;
}

.itemStatus {
    width: 140px;
    color: red;
    font-weight: bold;
}

.itemPrice {
    width: 25%;
    font-weight: bold;
    text-align: end;
}

.itemCommande {
    padding: 5px 10px;
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;  
}

.btnDelete {
    height: 20px;
    width: 20px;
    margin-left: 40px;
    color: white;
    background-color: red;
}

.btnServi {
    margin-left: 10px;
    height: 20px;
    width: 20px;
    color: white;
    background-color: green;
}

.total {
    margin: 20px 10px;
    display: flex;
    justify-content: flex-end;
}

.spanTotal {
    color: green
}

.paymentModal {
    position: fixed;
    top: 0;
    right: 0; 
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 100000;
}

.paymentModalContent {  
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    background-color: rgb(29, 85, 85);
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-color: rgb(248, 248, 248);
}

.paiementTitle {
    display: flex;
    justify-content: center;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    text-decoration: underline;
    margin-bottom: 50px;
}

.paymentItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paymentItem {
    color: rgb(255, 255, 255);
    margin-top: 8px;
    margin-left: 12px;
    display: flex;
    font-weight: bold;
    border-bottom: 1px solid white;
    justify-content: space-between;
}

.paymentInput {
    margin-right: 8px;
    width: 40px;
}

.paymentActions {
    position: absolute;
    bottom: 50px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.payFullBtn {
    padding: 8px;
    width: 150px;
}

.paySelectedBtn {
    padding: 8px;
    width: 150px;
}

@media (max-width: 600px) {
    .container {
      height: 100dvh;
    }

    .time {      
        height: 5dvh;
    }

    .main {
        height: 85dvh;
    }
    
    .aside {
        height: 85dvh;
    }

    .table {
        height: 85dvh;
    }

    .mainBtn, .startBtn, .stopBtn {
        width: 96%; 
        margin: 10px 2%;
    }

    .tableModal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100dvh;
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        align-items: center;
        z-index: 1000;
    }
  }